<template>
    <component :is="layout"></component>
</template>

<script>
  import TheLanguageSwitcher from '@/components/TheLanguageSwitcher'
  import LoginLayout from '@/components/layouts/Login'
  import PrincipalLayout from '@/components/layouts/Principal'
  import HomeLayout from '@/components/layouts/Home'
  import RegisterLayout from '@/pages/Register'
  import {mapState} from 'vuex'
  export default {
    components: {
      TheLanguageSwitcher, LoginLayout, PrincipalLayout, HomeLayout, RegisterLayout
    },
    computed: mapState(['layout'])
  }
</script>

<style>

</style>
